defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

listen stats
        bind 0.0.0.0:8989
        mode http
        stats enable
        stats uri /haproxy_stats
        stats realm HAProxy\ Statistics
        stats auth admin:pass123
        stats admin if TRUE


frontend my-web
    bind 0.0.0.0:80
    default_backend app

backend app
    balance     roundrobin
{%for i in groups['app']%}
    server game0{{ loop.index }} {{ hostvars[i].ansible_host }}:80 check
{%endfor%}